@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-color: #1da1f2;
}

body {
	font-family: Poppins, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

@layer utilities {
	.clip-poly {
		clip-path: polygon(7% 10%, 100% 10%, 96% 90%, 0% 90%);
	}
	.clip-poly-md {
		clip-path: polygon(7% 10%, 100% 10%, 96% 90%, 0% 90%);
	}
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 210 50% 97%;
		--foreground: 210 50% 10%;
		--card: 210 50% 100%;
		--card-foreground: 210 50% 10%;
		--popover: 210 50% 95%;
		--popover-foreground: 210 50% 10%;
		--primary: 210 70% 50%;
		--primary-foreground: 210 100% 100%;
		--secondary: 200 40% 80%;
		--secondary-foreground: 210 50% 10%;
		--muted: 210 50% 90%;
		--muted-foreground: 210 50% 20%;
		--accent: 210 100% 60%;
		--accent-foreground: 210 100% 100%;
		--destructive: 360 70% 50%;
		--destructive-foreground: 360 100% 100%;
		--border: 210 50% 85%;
		--input: 210 50% 100%;
		--ring: 210 70% 75%;
		--chart1: 210 70% 80%;
		--chart2: 210 60% 70%;
		--chart3: 210 50% 60%;
		--chart4: 210 40% 50%;
		--chart5: 200 70% 40%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 210 0% 100%;
		--foreground: 210 0% 0%;
		--card: 210 0% 96.66666666666669%;
		--card-foreground: 210 0% 0%;
		--popover: 210 0% 14.000000000000002%;
		--popover-foreground: 210 50% 95%;
		--primary: 202.8169014084507 89.12133891213388% 53.13725490196079%;
		--primary-foreground: 202.8169014084507 0% 100%;
		--secondary: 200 76.21145374449338% 40.481666666666676%;
		--secondary-foreground: 210 0% 100%;
		--muted: 210 1.7811704834605602% 45.195%;
		--muted-foreground: 210 0% 100%;
		--accent: 210 100% 60%;
		--accent-foreground: 210 50% 10%;
		--destructive: 360 70% 50%;
		--destructive-foreground: 360 100% 100%;
		--border: 210 24.213131235016622% 56.89666666666666%;
		--input: 210 4.326123128119802% 67.94666666666667%;
		--ring: 210 38.502451591456825% 59.89%;
		--chart1: 202.8169014084507 89.12133891213388% 53.13725490196079%;
		--chart2: 202.8169014084507 84.33179723502303% 47.74%;
		--chart3: 210 71.67381974248927% 42.71666666666667%;
		--chart4: 210 73.16017316017317% 25.025%;
		--chart5: 200 86.91588785046729% 12.48333333333333%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
